<!-- Header -->
<%- include('partials/header') -%>

<!-- Body -->
    <h1>Home</h1>

    <p><%= startingContent %></p>

    <!-- Creates blog posts on home page entered into /compose page -->
    <% posts.forEach(function(post) { %>

    <h1><%= post.title %></h1>

    <!-- Truncate blog posts on home page to 100ch -->
    <p><%= post.content.substring(0, 100) + "..." %>
    <a href="/posts/<%= post.title %>">Read More</a></p>
    <% }); %>

    <a href="/compose"><button class="btn btn-primary btn-lg" type="submit" name="button">Compose</button></a>
    

    <!-- Footer -->
<%- include('partials/footer') -%>